.app {

  display: flex;
  flex-direction: column;

  &__header {
    flex-basis: 57px;
    flex-grow: 0;
    flex-shrink: 0;
    border-bottom: 2px solid rgba(#fff, .5);
    background-color: rgba(#000, .25);
    @import "./header";
  }

  &__body {
    flex-basis: 100%;
    overflow-y: auto;
    padding: 60px;

    .container {
      width: 1050px;
      margin: 0px auto;
    }
  }

}
