.content-overlay {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(74,111,165, .8);
  padding: 30px;
  box-sizing: border-box;

  &__dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(#f5f5f5, .8);
    border-radius: 8px;
    overflow-y: auto;
  }

  p {
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: rgba(#fff, .6);
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    small {
      display: block;
      margin-bottom: 10px;
    }
  }

  &__navbar {
    text-align: right;
    color: #fff;
    margin-bottom: 15px;

    a {
      color: inherit;
      font-size: 2em;
    }
  }

  .network-body {

    display: flex;
    padding: 0 7px 15px 7px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;

    & > div {
      flex-basis: 100%;
      padding: 0 7px;
      box-sizing: border-box;

      h4 {
        margin: 0 0 15px 0;
      }
    }

    textarea {
      width: 100%;
      font-family: monospace;
      height: auto;
      padding: 15px;
      box-sizing: border-box;
      resize: none;
      background-color: rgba(#fff, .5);
      color: #000;
      border: 0;
      line-height: 1.2em;
      border-radius: 6px;

      &:hover {
        background-color: rgba(#fff, .9);
      }
    }

  }
}
