.diary-ui {

  .columns {

    margin: 0;

    & > * {
      padding: 0 10px;
      width: percentage(1/3);
      border-color: #ccc;
      border-style: solid;
      border-width: 0 0 1px 1px;
      &:first-child { border-left-width: 0; }
      & > div {
        flex-grow: 0;
        ul {
          list-style: none;
          margin-top: 0;
          padding: 0;
          li {
            margin-bottom: 10px;
            &:last-child { margin-bottom: 0; }
          }
          textarea {
            @extend %disabled-text-field;
            font-family: monospace;
            overflow-y: scroll;
            width: 100%;
            height: auto;
          }
        }
      }
    }

    header {
      h4 {
        // text-align: center;
        font-weight: 400;
        margin: 15px 0 10px 0;
        i { margin-right: 5px; }
      }
    }

  }

}
