& {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  padding: 0 60px;
  box-shadow: 0px 2px 4px rgba(#000, .2);

  * {
    text-shadow: 0px 1px 3px rgba(0,0,0,.25);
  }

}

.right {
  margin-left: auto;
  * { text-shadow: none; }
}

.logo {
  padding-top: 6px;
  a {
    text-decoration: none;
    opacity: .9;
    transition: opacity 50ms linear;
    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}

.title {
  margin: 0;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  margin: 0 15px;
}

.nav {
  margin: 0 15px;
  & > ul {
    @extend %flex-list;
    margin: 6px 0 0;

    & > li {
      margin: 0 5px;
      &:first-child { margin-left: 0; }
      &:last-child { margin-right: 0; }
    }

    a {
      display: block;
      padding: 0 2px;
      text-decoration: none;
      opacity: .5;
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      font-size: .8em;
      transition: opacity 100ms ease-out;
      &:hover { opacity: .8; }
      &.active {
        opacity: 1;
        @include underline(white, 2px, 5px, true);
      }
    }
  }
}

.controls {
  @extend %flex-list;
  li {
    height: 30px;
    margin: 0 5px;
    &:first-child { margin-left: 0;}
    &:last-child { margin-right: 0; }
    &.with-options { position: relative; }
  }

  button {
    -webkit-appearance: none;
    border: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    background: rgba(29,32,34,0.50);
    padding: 3px 0 0;

    .fal {
      font-size: 16px;
      transition: opacity 100ms linear;
      &.fa-volume-mute { opacity: .5; }
      &.fa-expand-alt { opacity: .5; }
      &.fa-comment-alt { opacity: .5; }
    }
    &:focus { outline: 0; }
    &:hover {
      cursor: pointer;
      .fa-volume-mute { opacity: .8; }
      .fa-expand-alt { opacity: .8; }
      &.fa-comment-alt-check { opacity: .8; }
    }
  }

}
