.tabs {

  margin-bottom: 15px;

  & > ul {
    @extend %flex-list;

    & > li {
      margin-right: 10px;

      a {
        text-decoration: none;
        display: block;
        color: #fff;
        opacity: .5;
        font-weight: 500;

        &.active {
          @include underline(#fff, 3px, 6px, true);
          opacity: 1;
        }

        &:hover {
          opacity: .8;
        }
      }
    }
  }

}
