// this wraps the app always perfect in the viewport
.editor-body {
  display: flex;
  flex-direction: column;
  .editor-ui {
    flex-basis: 100%;
  }
}

.editor-ui {

  background-color: rgba(255,255,255,.95);
  border-radius: 16px;
  min-height: 500px;
  overflow: hidden;

  &-left {
    border-right: 1px solid #ccc;
    overflow-y: auto;
  }

  .url-groups {
    @extend %flex-list-v;
    align-items: stretch;
    padding: 15px 0;
    & > li {
      border-bottom: 1px solid #ccc;

      a {
        display: block;
        padding: 15px;
        color: inherit;
        font-weight: 500;
        color: $default-base;
        text-decoration: none;
        &:hover { background-color: #eee; }
        &.active {
          background-color: $default-base;
          color: #fff;
        }
      }
    }
  }

  .editor {

    overflow-y: auto;

    &.loading,
    &.idle {
      display: flex;
      align-items: center;
      justify-content: center;

      &:after {
        @include fa-icon;
        @extend .fal;
        color: $default-base;
        font-size: 80px;
        opacity: .9;
        transition: opacity 450ms linear;
      }

      &.loading:after {
        @extend .fa-spin;
        content: fa-content($fa-var-spinner-third);
      }

      &.idle:after {
        content: fa-content($fa-var-globe);
        opacity: .05;
      }

    }

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 15px;
    }

    hr { margin: 0; }
    textarea {
      @extend %reset-input;
      background-color: transparent;
      width: 100%;
      box-sizing: border-box;
      resize: none;
      height: 30px;
      font-size: 18px;
      line-height: 24px;

      &:focus {
        outline: none;
      }
    }

    .url-area {
      padding: 20px;
      border-bottom: 1px solid #ccc;
      background-color: #fff;
    }

    .url-list {
      position: relative;
      min-height: 100%;
      list-style: none;
      margin: 20px 15px;
      padding: 0;
      box-sizing: border-box;
      & > li {

        display: flex;
        align-items: center;

        &:not(:last-child) { margin-bottom: 10px; }

        & > i { margin-right: 15px; }

        textarea {
          display: block;
          border-radius: 4px;
          background: #eee;
          border: 1px solid #d5d5d5;
          padding: 10px 15px;
          height: 45px;
          overflow: hidden;

          &:hover {
            cursor: pointer;
            background-color: #fff;
            border-color: #d5d5d5;
          }
          &::selection { background: transparent; }
        }
      }

    }

  }

}
