// this wraps the app always perfect in the viewport
.editor-body {
  display: flex;
  flex-direction: column;
  .editor-ui {
    flex-basis: 100%;
  }
}

.editor-ui {

  background-color: rgba(255,255,255,.95);
  border-radius: 16px;
  height: 100%;
  overflow: hidden;

  &-left {
    border-right: 1px solid #ccc;
    overflow-y: auto;
  }

  .url-groups {
    @extend %flex-list-v;
    align-items: stretch;
    padding: 15px 0;

    & > li {
      border-bottom: 1px solid #ccc;
      a {
        display: block;
        padding: 15px;
        color: inherit;
        font-weight: 500;
        color: $default-base;
        text-decoration: none;
        &:hover { background-color: #eee; }
        &.active {
          background-color: $default-base;
          color: #fff;
        }
      }
    }
  }

  & > header {

    padding: 0 20px;
    border-bottom: 1px solid #ccc;

    h3 {
      color: #444;
      margin-bottom: 0;
      i {
        margin-right: 10px;
        font-size: 1.1em;
      }
    }

    .split-view {
      justify-content: space-between;
    }

    p {
      color: #444;
      span {
        font-weight: 500;
        color: $info-base;
      }
    }

  }

  [data-placeholder]:not(.silent):empty:before {
    content: "Loading...";
    color: #ccc;
  }

  .editor {

    overflow-y: auto;

    &.loading,
    &.idle {
      display: flex;
      align-items: center;
      justify-content: center;

      &:after {
        @include fa-icon;
        @extend .fal;
        color: $default-base;
        font-size: 80px;
        opacity: .9;
        transition: opacity 450ms linear;
      }

      &.loading:after {
        @extend .fa-spin;
        content: fa-content($fa-var-spinner-third);
      }

      &.idle:after {
        content: fa-content($fa-var-globe);
        opacity: .05;
      }

    }

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 15px;
    }

    hr { margin: 0; }

    textarea {
      @extend %reset-input;
      background-color: transparent;
      width: 100%;
      box-sizing: border-box;
      resize: none;
      height: 30px;
      font-size: 18px;
      line-height: 24px;

      &:focus {
        outline: none;
      }

    }

    .url-area {
      padding: 20px;
      border-bottom: 1px solid #ccc;
      background-color: #fff;
    }

    .url-list {
      position: relative;
      min-height: 100%;
      list-style: none;
      margin: 20px 15px;
      padding: 0;
      box-sizing: border-box;

      & > li {

        display: flex;
        align-items: center;

        &:not(:last-child) { margin-bottom: 10px; }

        & > .fa-atlas { margin-right: 15px; }
        & > .fa-angle-down, & > .fa-angle-right {
          margin-left: 15px;
          min-width: 15px;
          text-align: right;
        }

        textarea {
          @extend %disabled-text-field;
        }

        &.open {
          margin-bottom: 0;
          .fa-angle-right:before { content: "\f107"; }

          textarea {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }
        }

      }

    }

    .data-list,
    .default-list {

      list-style: none;
      padding: 5px 0;
      margin-bottom: 15px;
      background-color: #f5f5f5;
      border: 1px solid #d5d5d5;
      border-top-width: 0;
      margin: 0 30px 15px;

      &.scroll-context {
        max-height: 500px;
        overflow-y: auto;
      }

      li {

        width: 100%;
        border-bottom: 1px solid #d5d5d5;
        background-color: #fff;
        &:first-child { border-top: 1px solid #d5d5d5; }

        a {
          display: block;
          padding: 10px 10px;
          color: #666;
          font-weight: 500;
          text-decoration: none;
          &:hover {
            cursor: pointer;
            background-color: #f9f9f9;
          }
        }

        .spread {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        // tag
        .tag {
          display: inline-flex;
          justify-content: space-between;
          align-self: flex-end;
          width: 75px;
          padding-right: 10px;
          &:before {
            content: attr(data-label-prefix);
            align-self: center;
            font-weight: 900;
            font-size: .8em;
            opacity: .5;
          }
          &:after {
            content: attr(title);
            background-color: #ccc;
            font-weight: 500;
            color: #444;
            border-radius: 10px;
            padding: 2px 10px;
          }
        }

        &.paginate {
          padding: 10px;
        }

      }

    }

  }

}
