.viewport {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.split-view {
  display: flex;

  & > &-container {
    flex-basis: 100%;

    &.one-third {
      flex-basis: percentage(1/3);
    }
  }
}
