.viewport {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.split-view {
  display: flex;

  & > &-container {
    flex-basis: 100%;
    &.one-third { flex-basis: percentage(1/3); }
  }

  &--vertical {
    @extend .split-view;
    height: 100%;
    flex-direction: column;

    & > * {
      box-sizing: border-box;
      &:not(header) { flex-basis: 100%; }
    }

  }

  .columns {
    margin: 0 15px;
    & > * { padding: 0 7px; }
    .scroll-y { overflow-y: auto; }
  }

}
