.viewport {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.split-view {

  display: flex;

  & > &-container {
    flex-basis: 100%;
    &.one-third { flex-basis: percentage(1/3); }
  }

  &--vertical {
    @extend .split-view;
    height: 100%;
    flex-direction: column;

    & > * {
      box-sizing: border-box;
      &:not(header) {
        flex-basis: 100%;
        max-height: 100%;
      }
    }

  }

  .columns {

    margin: 0 15px;

    & > * { padding: 0 7px; }

    .scroll-y { overflow-y: auto; }

    .split-view-container {
      order: 1;

      &.closed {
        flex-basis: 45px;
        flex-shrink: 0;
        overflow: hidden;
        order: 0;
        header {
          font-size: 0;
          text-align: center;
          i { font-size: 16px; }
        }
        & > div > * { visibility: hidden; }
        &:hover {
          cursor: pointer;
          background-color: #e5e5e5;
        }
      }

    }

  }

}
