<header class="app__header">
  <div class="logo">
    <a href="#" id="swap-bg" tabindex="-1">
      <img src="/static/images/cuckoo-white.png" width="100" alt="Cuckoo Sandbox" />
    </a>
  </div>
  <h1 class="title">URL Analysis</h1>
  <nav class="nav">
    <ul>
      <li>
        <a {% if request.endpoint == "index" %}class="active"{% endif %} href="/">Events</a>
      </li>
      <li>
        <a {% if request.endpoint == "url_groups" or request.endpoint == "url_groups_manage" %}class="active"{% endif %} href="/url-groups">URL Groups</a>
      </li>
      <li>
        <a {% if request.endpoint == "diary_search" or request.endpoint == "diary_view" %}class="active"{% endif %} href="/diary">Diary</a>
      </li>
    </ul>
  </nav>
  <div class="right">
    <ul class="controls">
      <li>
        <div class="system-indicator" data-online="true">
          <span class="system-indicator--inner"></span>
        </div>
      </li>
      <li class="with-options">
        <button id="toggle-audio" class="control-audio">
          <i class="fal fa-volume-mute"></i>
        </button>
      </li>
      <li>
        <button id="toggle-fullscreen" class="control-fullscreen">
          <i class="fal fa-expand-alt"></i>
        </button>
      </li>
    </ul>
  </div>
</header>
