{% extends "base.html" %}
{% block content %}
  <main class="viewport" id="event-monitor">
    <div class="foreground app">
      {% include 'partials/header.html' %}
      <section class="app__body">
        <div id="top-level-alert" class="container">
          <div class="alert-outer"></div>
        </div>
        <div id="alert-table" class="container">
          <table class="table">
            <thead>
              <tr>
                <th width="7" class="drop-padding"></th>
                <th width="30" class="sortable">
                  <a class="center" href="#">
                    <i class="fal fa-sort-amount-down"></i>
                  </a>
                </th>
                <th class="sortable" width="120">Time
                  <a href="#">
                    <i class="fal fa-sort-amount-down"></i>
                  </a>
                </th>
                <th>Title</th>
                <th>Content</th>
                <th>Group</th>
                <th width="25"></th>
              </tr>
            </thead>
            <tbody class="alternate-n2">
              <tr class="loading">
                <td colspan="7">
                  <i class="fal fa-spinner-third fa-spin"></i>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="7" class="centerize">
                  <a class="button" id="paginate-next">Load more</a>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </section>
    </div>
    <div class="background pattern-small-steps" id="app-background"></div>
  </main>
{% endblock %}
