{% extends "base.html" %}
{% block content %}
  <main class="viewport" id="event-monitor">
    <div class="foreground app">
      {% include 'partials/header.html' %}
      <section class="app__body">
        <div id="top-level-alert" class="container">
          <div class="alert-outer">
            <div class="alert alert-info">
              <div class="alert-icon">
                <figure>
                  <i class="fal fa-lightbulb"></i>
                </figure>
              </div>
              <div class="alert-content">
                <h2>Possible exploit kit detected</h2>
                <p>Page/URL hxxp://example.ee/login/ loads iframe with X.</p>
              </div>
              <div class="alert-time">
                <p>24 minutes ago</p>
              </div>
            </div>
            <div class="alert-loader">
              <div class="alert-loader-inner"></div>
            </div>
          </div>
        </div>
        <div id="alert-table" class="container">
          <table class="table">
            <thead>
              <tr>
                <th width="7" class="drop-padding"></th>
                <th width="30" class="sortable">
                  <a class="center" href="#">
                    <i class="fal fa-sort-amount-down"></i>
                  </a>
                </th>
                <th class="sortable" width="120">Time
                  <a href="#">
                    <i class="fal fa-sort-amount-down"></i>
                  </a>
                </th>
                <th>Title</th>
                <th>Content</th>
                <th class="sortable">Group
                  <a href="#">
                    <i class="fal fa-sort-amount-down"></i>
                  </a>
                </th>
                <th width="25"></th>
              </tr>
            </thead>
            <tbody class="alternate-n2">
              <tr class="loading">
                <td colspan="7">
                  <i class="fal fa-spinner-third fa-spin"></i>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="7"></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </section>
    </div>
    <div class="background pattern-small-steps" id="app-background"></div>
  </main>
{% endblock %}
