{% extends "base.html" %}
{% block content %}

<main class="viewport">
  <div class="foreground app" id="signatures">
    {% include 'partials/header.html' %}
    <section class="app__body editor-body expanded">
      {% include 'partials/settings-nav.html' %}
      <div class="split-view--vertical configure-ui">
        <div class="split-view">
          <aside class="split-view-container one-third configure-aside">
            <div class="configure-block">
              <h4 class="configure-block__label">
                Signatures
                <a href="#" id="new-signature">New signature</a>
              </h4>
              <p class="configure-block__description">Select a signature</p>
            </div>
            <div class="configure-block vertical-select">
              <input type="text" class="configure-block__control" placeholder="Type here to filter by name" name="filter-signatures" required />
              <ul class="vertical-select__list" data-profiles-list></ul>
            </div>
          </aside>
          <div class="split-view-container configure-content" data-signatures-form>

            <h2>SigName</h2>

            <div class="configure-block__container">

              <div class="configure-block">
                <label for="signature-name" class="configure-block__label">Signature name</label>
                <p class="configure-block__description">A unique name for this signature</p>
                <input class="configure-block__control" id="signature-name" name="signature-name" placeholder="Type name" required />
              </div>

              <div class="configure-block">
                  <h4 class="configure-block__label">Enable</h4>
                  <p class="configure-block__description">Match this signature</p>
                  <div class="configure-block__control checkbox">
                    <input type="checkbox" id="signature-enable" />
                    <label for="signature-enable">Enable</label>
                  </div>
              </div>

              <div class="configure-block">
                <label class="configure-block__label">Alert level</label>
                <p class="configure-block__description">Match level target</p>
                <div class="configure-block__control--wrapper mini caret">
                  <select class="configure-block__control" name="signature-alert-level">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="background pattern-small-steps" id="app-background"></div>
</main>

{% endblock %}
