{% extends "base.html" %}
{% block content %}
  <main class="viewport" id="url-management">
    <div class="foreground app">
      {% include 'partials/header.html' %}
      <section class="app__body editor-body expanded">
        {% include 'partials/url-group-nav.html' %}
        <div class="split-view editor-ui">
          <div class="split-view-container one-third editor-ui-left" id="url-group-list">
            <ul class="url-groups">
            {% for group in groups %}
              <li data-id="{{group.id}}" data-name="{{group.name}}">
                <a href="open:{{group.id}}">
                  {{group.name}} <em class="url-count">{{group.urlcount}}</em>
                  {% if group.schedule_next %}
                    <span><i class="fal fa-calendar-check"></i> {{group.schedule_next}}</span>
                  {% endif %}
                  <div title="View alerts" class="events-badge {% if group.highalert > 0 %}has-critical{% endif %}">{{ group.unread }}</div>
                </a>
              </li>
            {% endfor %}
            </ul>
          </div>
          <div class="split-view-container editor flex loading" id="url-edit"></div>
        </div>
      </section>
    </div>
    <div class="background pattern-small-steps" id="app-background"></div>
  </main>
{% endblock %}
