{% extends "base.html" %}
{% block content %}

<main class="viewport" id="url-diary" data-url-id="{{uuid}}">
  <div class="foreground app">
    {% include 'partials/header.html' %}
    <section class="app__body">
      <div class="split-view--vertical editor-ui diary-ui">
        <header class="editor-header">
          <h3><i class="far fa-atlas"></i><span data-placeholder="url"></span></h3>
          <div class="split-view">
            <p>No. <span data-placeholder="version"></span></p>
            <p>Created: <span data-placeholder="datetime"></span></p>
          </div>
        </header>
        <div class="split-view columns">
          <div class="split-view-container split-view--vertical">
            <header>
              <h4><i class="fas fa-server"></i> Requests</h4>
            </header> 
            <div class="scroll-y" id="diary-requests"></div>
          </div>
          <div class="split-view-container split-view--vertical">
            <header>
              <h4><i class="fas fa-barcode-read"></i> Signatures</h4>
            </header>
            <div class="scroll-y" id="diary-signatures"></div>
          </div>
          <div class="split-view-container split-view--vertical">
            <header>
              <h4><i class="fas fa-terminal"></i> Executed</h4>
            </header>
            <div class="scroll-y" id="diary-javascript"></div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="background pattern-small-steps" id="app-background"></div>
</main>

{% endblock %}
