{% extends "base.html" %}
{% block content %}
  <main class="viewport" id="url-grouping">
    <div class="foreground app">
      {% include 'partials/header.html' %}
      <section class="app__body">
        {% include 'partials/url-group-nav.html' %}
        <form>
          <table class="table" id="url-groups">
            <thead>
              <tr>
                <th class="centerize" width="10">ID</th>
                <th>Name</th>
                <th>Description</th>
                <th width="100">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr class="input-row">
                <td class="centerize">
                  <i class="fas fa-plus"></i>
                </td>
                <td>
                  <input type="text" placeholder="Type name..." id="group-name" required />
                </td>
                <td>
                  <input type="text" placeholder="Type description..." id="group-description" required />
                </td>
                <td class="centerize">
                  <button class="button icon-button" type="submit">
                    <i class="far fa-check"></i>
                  </button>
                  <button class="button icon-button" type="reset">
                    <i class="far fa-sync-alt"></i>
                  </button>
                </td>
              </tr>
              {% for group in groups %}
                <tr data-group-id="{{group.id}}">
                  <td class="centerize">{{group.id}}</td>
                  <td>{{group.name}}</td>
                  <td>{{group.description}}</td>
                  <td>
                    <button type="button" class="button icon-button" data-remove>
                      <i class="far fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <td colspan="4"></td>
            </tfoot>
          </table>
        </form>
      </section>
    </div>
    <div class="background pattern-small-steps" id="app-background"></div>
  </main>
{% endblock %}
