{% extends "base.html" %}
{% block content %}
  <main class="viewport" id="url-group-view">
    <div class="foreground app">
      {% include 'partials/header.html' %}
      <section class="app__body editor-body expanded">
        {% include 'partials/url-group-nav.html' %}
        <div class="split-view--vertical editor-ui">
          <div class="split-view">
            <div class="split-view-container one-third editor-ui-left">
              {% include 'partials/url-group-list.html' %}
            </div>
            <div class="split-view-container editor ready url-display" id="result-container">
              <header class="url-display-header">
                <div class="configure-block">
                  <input class="configure-block__control" placeholder="Type to filter urls by occurence" id="filter-url-content" />
                </div>
              </header>
              <ul class="url-list"></ul>
              <footer class="url-display-footer">
                <a href="#" class="button">Previous</a>
                <a href="#" class="button">Next</a>
              </footer>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="background pattern-small-steps" id="app-background"></div>
  </main>
{% endblock %}
