{% extends "base.html" %}
{% block content %}
  <main class="viewport" id="url-grouping">
    <div class="foreground app">
      {% include 'partials/header.html' %}
      </header>
      <section class="app__body">
        <nav class="tabs">
          <ul>
            <li>
              <a class="active" href="/url-groups">Groups</a>
            </li>
            <li>
              <a href="/url-group-content">Group content</a>
            </li>
          </ul>
        </nav>
        <form>
          <table class="table" id="url-groups">
            <thead>
              <tr>
                <th class="centerize" width="10">ID</th>
                <th>Name</th>
                <th>Description</th>
                <th width="100">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr class="input-row">
                <td class="centerize">
                  <i class="fas fa-plus"></i>
                </td>
                <td>
                  <input type="text" placeholder="Type name..." id="group-name" required />
                </td>
                <td>
                  <input type="text" placeholder="Type description..." id="group-description" required />
                </td>
                <td class="centerize">
                  <button class="button icon-button" type="submit">
                    <i class="far fa-check"></i>
                  </button>
                  <button class="button icon-button" type="submit">
                    <i class="far fa-sync-alt"></i>
                  </button>
                </td>
              </tr>
              <!-- <tr>
                <td class="centerize">4</td>
                <td>.ee-domains</td>
                <td>A nice group name for .ee domains</td>
                <td class="centerize">
                  <button class="button icon-button">
                    <i class="far fa-marker"></i>
                  </button>
                  <button class="button icon-button">
                    <i class="far fa-times"></i>
                  </button>
                </td>
              </tr> -->
            </tbody>
            <tfoot>
              <td colspan="4"></td>
            </tfoot>
          </table>
        </form>
      </section>
    </div>
    <div class="background pattern-small-steps" id="app-background"></div>
  </main>
{% endblock %}
