{% extends "base.html" %}
{% block content %}
  <main class="viewport" id="url-group-view">
    <div class="foreground app">
      {% include 'partials/header.html' %}
      <section class="app__body editor-body">
        {% include 'partials/url-group-nav.html' %}
        <div class="split-view editor-ui">
          <div class="split-view-container one-third editor-ui-left">
            <ul class="url-groups">
            {% for group in groups %}
              <li><a href="open:{{group.id}}">{{group.name}}</a></li>
            {% endfor %}
            </ul>
          </div>
          <div class="split-view-container editor ready">
            <ul class="url-list"></ul>
          </div>
        </div>
      </section>
    </div>
    <div class="background pattern-small-steps" id="app-background"></div>
  </main>
{% endblock %}
