/*
  usage:

  ---
  a.link {
    @include underline(red, 1px, 5px, true)
  }

  ---
  above renders a red 'underline' with a 1px width, offsetted 5px from the bottom of
  its parent.
  param $color: the color of the stroke
  param $thickness: width of the stroke
  param $offset: distance from text to stroke
  param $round-cap: toggle round-capped line
 */
@mixin underline($color: #000, $thickness: 1px, $offset: 3px, $round-cap: false) {
  position: relative;
  text-decoration: none;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -#{$offset};
    width: 100%;
    @if not $round-cap {
      border-bottom: $thickness solid $color;
    } @else {
      height: $thickness;
      background-color: $color;
      border-radius: $offset*2;
    }
  }
}

// shortcut to make a list have a flex-context
%flex-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

%flex-list-v {
  @extend %flex-list;
  flex-direction: column;
}

%reset-input {
  -webkit-appearance: none;
  border: 0;
  box-shadow: 0;
}

%disabled-text-field,
.disabled-text-field {
  display: block;
  border-radius: 4px;
  background: #eee;
  border: 1px solid #d5d5d5;
  padding: 10px 15px;
  height: 45px;
  overflow: hidden;
  box-sizing: border-box;
  resize: none;

  &:hover {
    cursor: pointer;
    background-color: #fff;
    border-color: #d5d5d5;
  }

  &::selection {
    background: transparent;
  }

  &:focus { outline: none; }
}

.clear-padding {
  padding: 0 !important;
}

.clear-margin {
  margin: 0 !important;
}
